.wrapper {
    padding: 5em 0;
    text-align: center;
}

.number-list {
    color: #364F6B;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0.15em;
    line-height: 49px;
    list-style: decimal;
    margin: auto;
    padding-left: 3em;
    text-align: left;
    width: 50%;
}

.image {
    max-height: 300px;
}