.wrapper {
    padding-top: 5em;

    h1 {
        text-transform: uppercase;
    }
}

.p {
    padding-top: 2em;
    padding-bottom: 3em;
}
.dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    font-style: italic;
    font-weight: 900;
    font-size: 32px;
    color: #364F6B;
}
.dt {
    float: left;
    width: 10%;
    padding: 0;
    margin: 0
}
.dd {
    float: left;
    width: 90%;
    padding: 0;
    margin: 0;

    div {
        font-size: 16px;
        padding: 0.5em 0;
        color: rgb(252, 81, 133);
    }
}

.button {
    margin: 0 0 3em 0;

    button {
        padding: 10px 32px;
    }
}

.form {
    display: inline-block;
    padding: 0 1em;

    label {
        color: rgba(54,79,107,0.62);
        font-size: 18px;
    }

    input {
        height: 40px;
        padding: 0 10px;
        margin: 0 22px;

        background: #FFFFFF;
        border: 1px solid #C1C1C1;
        box-sizing: border-box;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    button {
        padding: 10px 25px;
    }
}