.wrapper {
    padding-top: 7vw;
    padding-bottom: 4vw;

    h1 {
        text-transform: uppercase;
    }
}

.p {
    padding-top: 2em;
    padding-bottom: 3em;
}
.dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 0 1em;

    font-style: italic;
    font-weight: 900;
    font-size: 2.2vw;
    color: #364F6B;
}
.dt {
    float: left;
    width: 10%;
    padding: 0;
    margin: 0
}
.dd {
    float: left;
    width: 90%;
    padding: 0;
    margin: 0;

    div {
        font-size: 1.1vw;
        padding: 0.5em 0;
        color: rgb(252, 81, 133);
    }
}

.endpoint {
    font-size: 1.25vw;
    font-weight: 600;
    margin-left: 2.5vw;
    opacity: .6;
}

input {
    border: none;
    border-bottom: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    font-weight: 600;
    color: inherit;
    margin: 0 1vw;
    padding: 1em;
    width: 20vw;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: .6;
    }
  }