.ldBar {
    margin: auto;

    border: 4px solid #364F6B;
    border-radius: 80px 60px 60px 80px;
}

.ldBar-label {
    display: none;
}

.ldBar path.mainline {
    stroke-width: 36;
    stroke: #FC5185;
    stroke-linecap: round;
}
.ldBar path.baseline{
    stroke-width: 36;
    stroke: #f1f2f3;
    stroke-linecap: round;
}