.header {
    width: 100%;
    height: 74px;
    background-color: #364F6B;

    a {
        font-size: 32px;
        color: #FFFFFF;
        text-decoration:none;
    }

    .end {
        text-align: end;
    }
}