.wrapper {
  display: inline-block;
  padding-top: 1em;
  padding-right: 2em;
}

.button {
  cursor: pointer;
  background-color: #3FC1C9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: italic;
  font-size: 1.1vw;
}

.button-alert {
  background-color: #c9473f;
}