.container {
    padding-top: 4em;
    text-align: center;
}

.title {
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 49px;
    /* identical to box height */
    padding: 0.5em 0 0.5em 0;
}

.subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
    /* identical to box height */
    padding: 0.5em 0 0.5em 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.relative {
    position: relative;
}

.vl {
    position: absolute;
    width: 324px;
    height: 0px;
    left: -25%;

    background: #364F6B;
    border: 2px solid #364F6B;
    transform: rotate(90deg);
}

.first {
    padding: 4em 0em 4em 0em;
}